<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="static/CSS/style.css" />
    <link rel="stylesheet" href="static/CSS/utils.css" />
  </head>
  <body>
    
    <nav class="navbar flex">
      <div class="logo">
      <img src="static/Images/final_logo.jpg" alt="">
      </div>
      <div class="nav-right flex">
          <ul class="flex">
              <li class="hcolor"><a href="/" class="hcolor">Home</a></li>

              <li><a href="about" class="hcolor">About</a></li>
              <li><a href="tools_page" class="hcolor">Tools</a></li>
              <li><a href="contact" class="hcolor">Contact</a></li>
          </ul>
      </div>
      
  </nav>


 
    <section class="about">

      <div>
        <h2 class="hcolor">
            Get Unparalleled Exposure for Your AI Tools with ALAI Exclusive Platform
          </h2>
          <p>
            ALAI offers a premier opportunity for AI tool developers, founders, and
            owners to showcase their products to a wide audience.
          </p>
    
          <p>
            Our rigorous curation process ensures that only the best AI tools make
            it to our platform, guaranteeing optimal value for our users.
          </p>
    
          <p>
            Discover how ALAI can help you automate processes, increase
            productivity, and gain maximum visibility.
          </p>
      </div>

      <div>
        <h1 class="hcolor">Who we are?</h1>
      <p>The purpose of ALAI is to combine multiple AI tools into a single
        platform, eliminating the need for users to visit multiple websites for different tasks. Our platform aims to streamline the AI tool usage process, making it more
        convenient and efficient for users to access a variety of AI functionalities in one place.</p>
      </div>


      <div>
        <h1 class="hcolor">How did we stated this webiste?</h1>
        <p>AS a student we need to use a lot of AI tools in our everyday life, and sometimes when we are in a hurry we get frustrated because we have to visit multiple websites for different tasks.</p>

        <p>So we decided to eliminate the need for doing so and create a website that provides all the AI tools you need as a student.</p>
      </div>

      
      
      
      <div>
        <h1 class="hcolor">Tools we offer</h1>
        <h4 class="chcolor">Text Summarization</h4>
        <h4 class="ccolor">Text to image</h4>
        <h4 class="ccolor">Talk to me - Chat Bot</h4>
        <h4 class="ccolor">Image to image</h4>
      </div>


    </section>

    <footer class="m-auto">
      <h2 class="hcolor">AL AI</h2>
      <p class="scolor">All rights resevered by AL AI, 2024</p>
  </footer>
</html>
