<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/utils.css">
</head>
<body>
    <nav class="navbar flex">
        <div class="logo">
        <img src="static/Images/final_logo.jpg" alt="">
        </div>
        <div class="nav-right flex">
            <ul class="flex">
                <li class="hcolor"><a href="/" class="hcolor">Home</a></li>

                <li><a href="about" class="hcolor">About</a></li>
                <li><a href="tools_page" class="hcolor">Tools</a></li>
                <li><a href="contact" class="hcolor">Contact</a></li>
            </ul>
        </div>
        
    </nav>

    <section id="contact" class="shadow1">
        <h1 class="hcolor">Contact Us</h1>
        <form action="POST">
            <div class="heading"><h2 class="hcolor">Get in touch with us.</h2></div>
            <div class="form-data">
                <div class="form-label"><label for="InputEmail" >Email address</label></div>
                <div><input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter you email"></div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              
              <div class="form-data">
               <div class="form-label"> <label for="name">Full Name</label></div>
                <div><input type="text" class="form-control" id="name" placeholder="Enter you name"></div>
              </div>
    
              <div class="form-data">
               <div class="form-label"><label for="text-area" >Your message</label></div>
                <div><textarea name="msg-text" id="text-area" class="form-control" placeholder="Enter your message"></textarea></div>
              </div>
    
    
              <div>
                <input type="submit" class="btn-primary tool-btn shadow1" placeholder="Submit">
              </div>
        </form>
    </section>
    


   <footer class="m-auto">
        <h2 class="hcolor">AL AI</h2>
        <p class="scolor">All rights resevered by AL AI, 2024</p>
    </footer>

</body>
</html>