<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al AI</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/utils.css">
</head>
<body>
    <nav class="navbar flex">
        <div class="logo">
        <img src="static/Images/final_logo.jpg" alt="">
        </div>
        <div class="nav-right flex">
            <ul class="flex">
                <li class="hcolor"><a href="/" class="hcolor">Home</a></li>

                <li><a href="about" class="hcolor">About</a></li>
                <li><a href="tools_page" class="hcolor">Tools</a></li>
                <li><a href="contact" class="hcolor">Contact</a></li>
            </ul>
        </div>
        
    </nav>

<section class="vision">
    <h1 class="hcolor">ALAI</h1>
    <p>The purpose of ALAI is to combine multiple AI tools into a single
        platform, eliminating the need for users to visit multiple websites for different tasks. Our platform aims to streamline the AI tool usage process, making it more
        convenient and efficient for users to access a variety of AI functionalities in one place.</p>
</section>


    <section class="contentsection ">

        <div class="content-box">
            <h1 class="hcolor">Tools offered by us</h1>
            <div class="homeTools homeTool1 shadow1 flex">

                <div class="image">
                    <img src="static/Images/text_to_image.png" alt="">
                </div>
    
                <div class="descrription">
                    <h1 class="hcolor">Text to image</h1>
                    <p>Text-to-image is a type of artificial intelligence (AI) that can generate images based on textual descriptions. This technology combines natural language processing (NLP) and computer vision to interpret and transform written text into corresponding visual representation.  </p>
                
                </div>
    
            </div>
    
            <div class="homeTools homeTool2 shadow1 flex">
                <div class="image">
                    <img src="static/Images/ttm.png" alt="">
                </div>
    
                <div class="descrription">
                    <h1 class="hcolor">Talk to me</h1>

                    <p>The "Talk to Me" feature in integrated AI tools typically refers to a functionality that allows the user to have a conversation with the AI. </p>
                    <p>Overall, the "Talk to Me" feature enhances the user experience by providing a more natural and interactive way to engage with the AI tool.</p>
                </div>
    
            </div>
    
            <div class="homeTools homeTool3 shadow1 flex">
                <div class="image">
                    <img src="static/Images/summarization.png" alt="">
                </div>
    
                <div class="descrription">
                    <h1 class="hcolor">Text Summerization</h1>

                    <p>Text summarization is an integrated AI tool that automatically condenses a long piece of text into a shorter version while retaining the key information and overall meaning. This tool uses natural language processing (NLP) and machine learning algorithms to identify and extract important sentences, phrases, or key points from the original text. </p>
                </div>
            </div>


            <div class="homeTools homeTool4 shadow1 flex">
                <div class="image">
                    <img src="static/Images/image_to_image.png" alt="">
                </div>
    
                <div class="descrription">
                    <h1 class="hcolor">Image to image</h1>

                    <p>Image-to-image processing tools leverage the power of artificial intelligence to facilitate advanced image manipulation and generation. These tools offer a transformative approach to digital image editing, enabling users to achieve a variety of goals  </p>
                </div>
            </div>
        </div>
    </section>

    

    <footer class="m-auto">
        <h2 class="hcolor">AL AI</h2>
        <p class="scolor">All rights resevered by AL AI, 2024</p>
    </footer>




   

</body>
</html>