<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/utils.css">
</head>
<body>
    <nav class="navbar flex">
        <div class="logo">
        <img src="static/Images/final_logo.jpg" alt="">
        </div>
        <div class="nav-right flex">
            <ul class="flex">
                <li class="hcolor"><a href="/" class="hcolor">Home</a></li>

                <li><a href="about" class="hcolor">About</a></li>
                <li><a href="tools_page" class="hcolor">Tools</a></li>
                <li><a href="contact" class="hcolor">Contact</a></li>
            </ul>
        </div>
        
    </nav>

    <section class="web-description-pic">
       <img src="static/Images/bg-poster.jpeg" alt="">
    </section>

    
    <section class="tools-container">
        
    <div class="container-heading"><h1 class="hcolor">Tools List</h1></div>
   
    <div class=" all-tools flex1">

    <div class="tool-box tool-box1">
        <h2 class="hcolor">Text to Image</h2>
    
        <div>
            <a href="textTOimage" class="tool-btn">Use Tool</a>
        </div>
       </div>
    
    
       <div class="tool-box tool-box2">
        <h2 class="hcolor">TTM</h2>
    
        <div>
            <a href="TTM" class="tool-btn">Use Tool</a>
        </div>
       </div>
    
       
       <div class="tool-box tool-box3">
        <h2 class="hcolor">Text Summerzation</h2>
    
        <div>
            <a href="textSummarization" class="tool-btn">Use Tool</a>
        </div>
       </div>
    
       
       <div class="tool-box tool-box4">
        <h2 class="hcolor">Image to image</h2>
    
        <div>
            <a href="imgTOimg" class="tool-btn">Use Tool</a>
        </div>
       </div>
   </div>
        
    
  </section>

    <footer class="m-auto">
        <h2 class="hcolor">AL AI</h2>
        <p class="scolor">All rights resevered by AL AI, 2024</p>
    </footer>

</body>
</html>